@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  background-color: #fff;
  color: #333;
}

a {
  color: #59f;
  font-weight: bold;
}

a:hover {
  color: #9cf;
  transition: 200ms ease-in-out;
}

hr {
  border-color: #333;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ccc;
}

.card-body {
  background-color: #ccc;
}
